h1{
    border-spacing: 50%;
    color:rgb(227, 20, 20);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    

}
h2{
    color: rgb(38, 41, 41);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}img {
    display: block;
    margin: auto;
    border-radius: 50%;
}
body{
    background-color:aliceblue
}
p{
    color: rgb(77, 77, 132); 
    background-color: bisque;
    border-style:initial;
    
}
h3,h4,h5{
    color: rgb(176, 74, 74);
    background-color: rgb(161, 231, 231);
    border-bottom-right-radius: 10%;
    border-style:groove;
}
body{
    background-color: rgb(252, 185, 185);
}